

<div class="row">
  <div class="twelve columns">
      <div class="introduction">
        <span>Welcome! My name is <span class="orange">Bryce Batson</span>. I am a freelance web developer living in Plattsburgh New York. Please take a look around, don't be shy. If you like what you see, <%= link_to 'let me know', contact_path %>.</span>
      </div>
  </div>
</div>

<div class="row hide-for-small">
    <div id="slider" class="twelve columns drop-shadow lifted">
        <div class="rotator">
            <ul id="rotmenu">
                <li>
                    <a href="rot1">Katy Milstead's Blog</a>
                    <div style="display:none;">
                        <div class="info_image">katy_aftermath.jpg</div>
                        <div class="info_description">
                            A personal blog for a good friend of mine. The theme was an interesting one, but I think we did a real good job with it. <a href="http://www.katyaftermath.com" class="more">Visit</a>
                        </div>
                    </div>
                </li>
                <li>
                    <a href="rot2">Danette's Photography</a>
                    <div style="display:none;">
                        <div class="info_image">danette.jpg</div>
                        <div class="info_description">
                            I made this site for Danette Duprey, a photographer living in Chazy, New York. It features a custom ajax driven admin panel and all the tools she needs to keep it running. Design courtesy of ThemeCatcher at <a href="http://www.themeforest.net">ThemeForest</a>
                            <br>
                            <a href="#" class="more">Visit</a>
                        </div>
                    </div>
                </li>

                <li>
                    <a href="rot3">The Wallers</a>
                    <div style="display:none;">
                        <div class="info_image">wallers.jpg</div>
                        <div class="info_description">
                            Created a family website for The Waller family including event calendar and personalized blogs for every member of the family.
                            <br>
                            <a href="#" class="more">Visit</a>
                        </div>
                    </div>
                </li>

                <li>
                    <a href="rot4">My Portfolio</a>
                    <div style="display:none;">
                        <div class="info_image">my-portfolio.jpg</div>
                        <div class="info_description">
                            This was my first portfolio design. I scrapped it and started again with this one. Much better now isn't it?
                            <br>
                        </div>
                    </div>
                </li>
            </ul>

            <div id="rot1">
                <img src="" width="800" height="300" class="bg" alt=""/>
                <div class="heading">
                    <h1></h1>
                </div>
                <div class="description">
                    <p></p>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- Why Me?-->
<div id="why-me" class="row">

    <div class="four columns reason">
        <%= image_tag('orange-design.png') %>
        <h2>Design</h2>
        <hr>
        <p>You know what you want to make, but you just don't quite know how to make it. I will work with you on any project to design a clean and effective web design that you can be proud of, whethere it is a personal blog or professional business website.</p>
        <br>
        <%= image_tag 'bottom-shadow.png' %>
    </div>
    <div class="four columns reason">
        <%= image_tag('orange-code.png') %>
        <h2>Develop</h2>
        <hr>
        <p>There is so much more to web development these days than a simple design. With my skills as a PHP and Ruby developer, I can make sure you have all the features you are looking for in your project, from a blog to a shopping cart, we can make it work.</p>
        <br>
        <%= image_tag 'bottom-shadow.png' %>
    </div>
    <div class="four columns reason">
        <%= image_tag('orange-web.png') %>
        <h2>Deploy</h2>
        <hr>
        <p>Everything is finished, you want to show your new website off to the world, and I can make sure that you get that wish. Whether you need hosting, or you just want me to help you set it up, I will be your guide to make sure you get your finished product seen.</p>
        <br>
        <%= image_tag 'bottom-shadow.png' %>
    </div>

</div> <!-- /Why Me? -->


<div class="row">
    <div class="twelve columns">
        <h4>
            Latest Projects
            <span class="more-link">
                <%= link_to 'View All', portfolio_path %>
            </span>
        </h4>
    </div>
</div>


<ul class="thumbnails row">
    <li class="four columns">
        <div>
            <a href="#" class="zoom">
        <span class="roll"></span>
        <%= image_tag('wallers.jpg') %>
      </a>
      <%= image_tag('bottom-shadow.png') %>
      <p>Wallers Family Website (WIP)</p>
     </div>
    </li>
    <li class="four columns">
        <div>
            <a href="http://www.katyaftermath.com" class="zoom">
        <span class="roll"></span>
        <%= image_tag('katy_aftermath.jpg') %>
      </a>
      <%= image_tag('bottom-shadow.png') %>
      <p>Katy Milstead's Blog</p>
     </div>
    </li>
    <li class="four columns">
        <div>
            <a href="#" class="zoom">
        <span class="roll"></span>
        <%= image_tag('danette.jpg') %>
      </a>
      <%= image_tag('bottom-shadow.png') %>
      <p>Danette's Photography (No Longer Online)</p>
     </div>
    </li>

</ul>


<br>
<hr class="row">
<br>

<div class="row">
    <div class="six columns">
        <h4>Recent Posts
            <span class="more-link">
                <%= link_to 'View All', posts_path %>
            </span>
        </h4>
        <div class="twelve columns">
            <div id="recent_posts" class="row">
                <% @posts.each do |post| %>

                    <div class="twelve columns">

                        <% if post.image? %>

                        <div class="mobile-one three columns">
                            <div class="blog image">
                                    <%= image_tag post.image.url(:small, :style => 'float:left;') %>
                            </div>
                        </div>

                        <% end %>

                        <div class="nine mobile-three columns">
                            <p>
                                <%= link_to post.title, post %>
                            </p>
                            <p>
                            <%= post.created_at.strftime("%b, %Y") %>
                            </p>
                        </div>
                    </div>

                <% end %>

            </div>
        </div>
    </div>


    <div class="six columns">
        <h4>Testimonials
            <span class="slider-buttons">
               
            </span>
        </h4>

        <div id="testimonials" class="twelve columns">
 
            <ul class="slides">
                <li>
                    <p>"Bryce created a website that just plain works. It's crisp, clean, beautiful, and everything I hoped it would be and more"
                    </p>
                    <br>
                    <i>-- Danette Duprey</i>
                </li>
                <li>
                    <p>"OMG, I'm in love!"</p>
                    <br>
                    <i>-- Katy Milstead</i>
                </li>
            </ul>

        </div>

    </div>
</div>


