<div class="row">
	<div class="twelve columns">
		<h4>My Portfolio</h4>	
	</div>
</div>

<ul id="gallery" class="thumbnails row">
	<li class="three columns">
		<%= image_tag('top-shadow.png') %>
		<div class="image">
			<a href="#" class="zoom">
        <span class="roll"></span>
        <%= image_tag('wallers.jpg') %>
      </a>
      <p>Waller's Family Website (WIP)</p>
     </div>
     <%= image_tag('bottom-shadow.png') %>
	</li>

	<li class="three columns">
		<%= image_tag('top-shadow.png') %>
		<div class="image">
			<a href="http://www.katyaftermath.com" class="zoom">
        <span class="roll"></span>
        <%= image_tag('katy_aftermath.jpg') %>
      </a>
      <p>Katy Milstead's Blog</p>
     </div>
     <%= image_tag('bottom-shadow.png') %>
	</li>	

	<li class="three columns">
		<%= image_tag('top-shadow.png') %>
		<div class="image">
			<a href="#" class="zoom">
        <span class="roll"></span>
        <%= image_tag('danette.jpg') %>
      </a>
      <p>Danette's Photography (No longer online)</p>
     </div>
     <%= image_tag('bottom-shadow.png') %>
	</li>

	<li class="three columns">
		<%= image_tag('top-shadow.png') %>
		<div class="image">
			<a href="#" class="zoom">
        <span class="roll"></span>
        <%= image_tag('my-portfolio.jpg') %>
      </a>
      <p>My Original Portfolio Design</p>
     </div>
     <%= image_tag('bottom-shadow.png') %>
	</li>
</ul>
<br>
<hr class="row">
<br>

<h5 class="row center">
	This is just the beginning, there are plenty more to come!
</h5>
