<div class="row">
	<div class="span12">
		<h4>My Portfolio</h4>	
	</div>
</div>

<ul id="gallery" class="thumbnails">
	<li class="span3">
		<%= image_tag('top-shadow.png') %>
		<div class="image">
			<a href="#" class="zoom">
        <span class="roll"></span>
        <%= image_tag('wallers.jpg') %>
      </a>
     </div>
     <%= image_tag('bottom-shadow.png') %>

     <h6>The Wallers Family Website (WIP)</h6>
	</li>

	<li class="span3">
		<%= image_tag('top-shadow.png') %>
		<div class="image">
			<a href="http://www.katyaftermath.com" class="zoom">
        <span class="roll"></span>
        <%= image_tag('katy_aftermath.jpg') %>
      </a>
     </div>
     <%= image_tag('bottom-shadow.png') %>

     <h6>Katy Milstead's Blog</h6>
	</li>	

	<li class="span3">
		<%= image_tag('top-shadow.png') %>
		<div class="image">
			<a href="#" class="zoom">
        <span class="roll"></span>
        <%= image_tag('danette.jpg') %>
      </a>
     </div>
     <%= image_tag('bottom-shadow.png') %>

     <h6>Danette's Photography</h6>
    
	</li>

	<li class="span3">
		<%= image_tag('top-shadow.png') %>
		<div class="image">
			<a href="#" class="zoom">
        <span class="roll"></span>
        <%= image_tag('my-portfolio.jpg') %>
      </a>
     </div>
     <%= image_tag('bottom-shadow.png') %>

     <h6>My Original Portfolio Design</h6>
	</li>
</ul>

<hr>

<h5>
	This is just the beginning, there are plenty more to come!
</h5>
