<div class="eight columns">
  <div class="post">
    <h5><%= @post.title %></h5>
    <div class="post_info">
      
      Posted

      <span class="date">
         <%= time_ago_in_words @post.created_at %> ago
      </span>

      <% unless @post.categories.empty? %>
        in

        <ul>
          <% @post.categories.each do |category| %>
            <% unless category.category.empty? %>
            <li><%= link_to category.category, category_path(category.id) %></li>
            <% end %>
          <% end %>
        </ul>
      <% end %>
    </div>

    <% if @post.image? %>

    <%= image_tag('top-shadow.png') %>
        <div class="image">
            
                <%= image_tag @post.image.url(:medium) %>
            
        </div>
    <%= image_tag('bottom-shadow.png') %>
    <% end %>
    
    <p><%= raw @post.content %></p>

    <hr>

    <div id="disqus_thread"></div>
        <script type="text/javascript">
            /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
            var disqus_shortname = 'brycebatson'; // required: replace example with your forum shortname

            /* * * DON'T EDIT BELOW THIS LINE * * */
            (function() {
                var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
                dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
                (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
            })();
        </script>
        <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
        <a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>
    
  </div>
      
</div>