<div class="span8">
  <div class="post">
    <h5><%= @post.title %></h5>
    <div class="post_info">
      
      <i>Posted</i>

      <span class="date">
         <%= time_ago_in_words @post.created_at %> ago
      </span>

      <% unless @post.categories.empty? %>
        <i>in</i>

        <ul>
          <% @post.categories.each do |category| %>
            <li><%= link_to category.category, category_path(category.id) %></li>
          <% end %>
        </ul>
      <% end %>
    </div>

    <%= image_tag('top-shadow.png') %>
        <div class="image">
            
                <%= image_tag @post.image.url(:medium) %>
            
        </div>
    <%= image_tag('bottom-shadow.png') %>
    
    <p><%= raw @post.content %></p>
    
  </div>
      
</div>