<div class="eight columns">
  <div class="post">
    <h5><%= @post.title %></h5>
    <div class="post_info">
      
      Posted

      <span class="date">
         <%= time_ago_in_words @post.created_at %> ago
      </span>

      <% unless @post.categories.empty? %>
        in

        <ul>
          <% @post.categories.each do |category| %>
            <% unless category.category.empty? %>
            <li><%= link_to category.category, category_path(category.id) %></li>
            <% end %>
          <% end %>
        </ul>
      <% end %>
    </div>

    <% if @post.image? %>

    <%= image_tag('top-shadow.png') %>
        <div class="image">
            
                <%= image_tag @post.image.url(:medium) %>
            
        </div>
    <%= image_tag('bottom-shadow.png') %>
    <% end %>
    
    <p><%= raw @post.content %></p>
    
  </div>
      
</div>