<% @posts.each do |post| %>
	<div id="blog_post" class="post">
	  <h5><%= post.title %></h5>
	  <div class="post_info">
	  	
	  	Posted

	  	<span class="orange">
	    	 <%= time_ago_in_words post.created_at %> ago
	    </span>

	    <% unless post.categories.empty? %>
	    	in

		    <ul>
			    <% post.categories.each do |category| %>
				    <li><%= link_to category.category, category_path(category.id) %></li>
				  <% end %>
		    </ul>
		  <% end %>
	  </div>

	  <% if post.image?%>
	  <%= image_tag('top-shadow.png') %>
	      <div class="image">
	          
	              <%= image_tag post.image.url(:medium) %>
	          
	      </div>
	  <%= image_tag('bottom-shadow.png') %>
	  <% end %>
	  
	  <p><%= raw HTML_Truncator.truncate(post.content, 300) %></p>
	  
	  <%= link_to 'Read More', post, :class => "btn button-small pull-right" %>
	</div>
	<script type="text/javascript">
     SyntaxHighlighter.all()
	</script>
<% end %>