<div class="row">
	<div class="span8">
    <h5 class="blog_title"><%= @post.title %></h5>
	    <div class="post_info">
	    	<span class="date">
	      	Posted <%= time_ago_in_words @post.created_at %>
	      </span>

	      in
	      <ul>
			    <% @post.categories.each do |category| %>
				    <li><%= link_to category.category, category_path(category.id) %></li>
				  <% end %>
	      </ul>
	    </div>
      <p><%= @post.content %></p>
        
	</div>

	<div class="span4">
		<%= render :partial => 'sidebar' %>
	</div>
</div>