<!DOCTYPE html>
<html>
<head>
  <title>Bryce Batson | Portfolio</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<div name="top"></div>
<div class="container">
	<div class="row navbar">
		<div class="logo span3">
			<a href="#"><span class="orange">Bryce</span>Batson</a>
			<br>
			<span class="subtext">Web Development Connoisseur</span>
		</div>
		<div class="span9">
			<ul class="navigation pull-right">
				<%= nav_link 'Home', root_path %>
				<%= nav_link 'Portfolio', '#' %>
				<%= nav_link 'About', about_path %>
				<%= nav_link 'Contact', contact_path %>
			</ul>
		</div>
	</div>
</div>

<div class="content container">
	<%= yield %>
</div>

<p id="back-top">
	<a href="#top" id="top"><span></span></a>
</p>

<div id="footer">
	<div class="container">
		<div class="row">
			<div class="span4">
				<h3>Contact</h3>
				<%= form_tag do %>
					<label for="email">Email:</label>
					<input type="text" name="email">
					<label for="name">Name:</label>
					<input type="text" name="name">
					<label for="subject">Subject:</label>
					<input type="text" name="subject">
					<label for="body">Body:</label>
					<textarea name="body"></textarea>	
					<br>
					<input type="submit" class="btn">
				<% end %>
			</div><!-- / Contact-form -->

			<div class="span4">
				<h3>Twitter</h3>
				<div id="feed"></div>
				<script>
					jQuery(function($){
				        $("#feed").tweet({
				          join_text: "auto",
				          username: "brycebatson1",
				          avatar_size: 0,
				          count: 3,
				          loading_text: "loading tweets..."
				        });
				      });
				</script>
			</div><!-- /Twitter -->

			<div class="span4">
				<h3>Who am I?</h3>
				<%= image_tag 'me.png', :class => 'me_image pull-left' %>
				<p class="who_am_i">Hey there! My name is Bryce Batson. I am a freelance web developer living in Plattsburgh New York. I have two beautiful children and a lovely fiance.</p>
				<p>I have been developing websites for almost 3 years and have worked in Ruby (my favorite), php, and almost all front end languages (HTML,CSS,Javascript). I absolutely love what I do, and I hope to prove it to you! Don't waste another moment, drop me a line. I look forward to working with you!</p>
				<p>Want to know more about me? Click <%= link_to "here", about_path %></p>
			</div><!-- /Introduction -->
		</div>
	</div>
</div>
<div id="footer_bottom">
	<div class="container">
		<div class="row">
			<%= link_to 'Bryce Batson', root_path %> &copy; 2012 | 
			<%= link_to 'Home', root_path %> | 
			<%= link_to 'About', about_path %> | 
			<%= link_to 'Contact', contact_path %>
		</div>
	</div>
</div>

</body>
</html>
